@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Playfair Display;
    src: url(../fonts/playfair-display.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: playfair-display-bold-italic;
    src: url(../fonts/playfair-display-bold-italic.ttf);
}

@font-face {
    font-family: playfair-display-italic;
    src: url(../fonts/playfair-display-italic.ttf);
}