.header-top {
    width: 100%;
    height: 38px;
    background-color: #f2f2f2;
}

.header-top-inner {
    width: 1290px;
    height: 38px;
    margin: 0 auto;
}

.call {
    font-family: Lato;
    font-size: 11px;
    float: left;
}

.phone {
    background-image: url(../img/call.png);
    width: 10px;
    height: 10px;
    float: left;
    margin: 15px 0 0 7px;
}

.call p {
    margin: 14px 0 0 36px;
}

.top-menu {
    float: right;
    margin-top: 16px;
    margin-right: 3px;
}

.top-menu li {
    float: left;
    width: auto;
    border-right: 1px solid #838383;
    width: 142px;
}

.top-menu li:last-child {
    border-right: none;
    width: 80px;
}

.top-menu a {
    color: #838383;
    display: block;
    font-family: Lato;
    font-size: 11px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

header {
    width: 100%;
    height: 128px;
}

.header-inner {
    height: 128px;
    margin: 0 auto;
    width: 1290px;
}

.main-menu {
    display: block;
    width: 384px;
    height: auto;
    float: left;
    margin-top: 45px;
}

.main-menu li {
    float: left;
    width: 85px;
}

.main-menu a {
    text-decoration: none;
    font-family: Playfair Display;
    font-size: 18px;
    display: block;
    width: 100%;
    height: 100%;
    color: #838383;
}

.logo {
    display: block;
    float: left;
    height: 73px;
    margin-left: 158px;
    margin-top: 32px;
    width: 228px;
}

.social-icons {
    width: 175px;
    height: auto;
    float: left;
    margin-top: 43px;
    margin-left: 202px;
}

.social-icons a {
    display: block;
    width: 35px;
    height: 34px;
    float: left;
    margin-right: 7px;
}

.rupiah {
    background-color: black;
    background-image: url("../img/str.png");
    background-position: 70px 13px;
    background-repeat: no-repeat;
    color: #fff;
    float: right;
    font-family: Lato-Bold;
    font-size: 12px;
    height: 35px;
    line-height: 2.7;
    margin-top: 45px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

.slider {
    width: 100%;
    height: auto;
    min-height: 620px;
}

.slider img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.slider-inner {
    width: 1290px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.sale-box {
    border: 2px solid #fff;
    border-radius: 2px;
    display: block;
    height: 276px;
    margin-left: 524px;
    position: absolute;
    top: 143px;
    width: 273px;
}

.sale-box-inner {
    width: 256px;
    height: 256px;
    border: 1px solid #ecebea;
    margin: 8px auto;
    border-radius: 2px;
}

.sale-box-inner p:first-child {
    font-family: Lato-Bold;
    font-size: 20px;
    margin: 22px 0 0 63px;
    color: #fff;
}

.sale {
    font-family: Lato-Bold;
    font-size: 59px;
    margin: 27px 0 0 56px;
    color: #000;
}

.up-to {
    color: #fff;
    float: left;
    font-family: Lato-Bold;
    font-size: 20px;
    margin: 25px 0 0 33px;
}

.sale-box-inner p:last-child {
    font-family: Lato-Bold;
    font-size: 30px;
    margin: 61px 0 0 62px;
    color: #000;
    color: #000;
}

.str {
    float: left;
}

.srt-1 {
    width: 33px;
    height: 0;
    border: 1px solid #b9b7b5;
    position: relative;
    top: 33px;
    left: 50px;
}

.srt-2 {
    border: 1px solid #fff;
    height: 0;
    left: 23px;
    position: relative;
    top: 39px;
    width: 61px;
}

.srt-3 {
    border: 1px solid #b9b7b5;
    height: 0;
    left: 166px;
    position: relative;
    top: 33px;
    width: 33px;
}

.srt-4 {
    border: 1px solid #fff;
    height: 0;
    left: 167px;
    position: relative;
    top: 39px;
    width: 61px;
}

.shop-now {
    background: #f09d66 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-family: Lato-Bold;
    font-size: 24px;
    height: 52px;
    margin-left: 570px;
    line-height: 2.3;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 473px;
    width: 189px;
}

.offers {
    width: 100%;
    height: 100px;
    margin-top: 139px;
}

.offers-inner {
    width: 1290px;
    height: 100%;
    margin: 0 auto;
}

.free-shipping {
    width: 430px;
    height: 100px;
    float: left;
    z-index: 2;
    position: relative;
}

.box {
    background: #d9bf8f;
    float: left;
    height: 100px;
    width: 390px;
    background-image: url(../img/plane.png);
    background-repeat: no-repeat;
    background-position: 28px;
}

.treyg {
    border-bottom: 50px solid transparent;
    border-left: 46px solid #d9bf8f; /* color of my treyg*/
    border-top: 50px solid transparent;
    height: 0;
    width: 0;
    margin-left: 390px;
}

.box :first-child {
    font-family: Lato-Bold;
    font-size: 30px;
    color: #fff;
    display: block;
    margin: 25px 0 0 100px;
}

.order {
    font-family: Lato;
    font-size: 14px;
    color: #fff;
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 100px;
}

.returns {
    background-color: #000;
    float: left;
    height: 100px;
    margin-left: -7px;
    width: 444px;
    z-index: 1;
    position: relative;
}

.treyg-2 {
    border-bottom: 50px solid transparent;
    border-left: 46px solid #fff; /* color of my treyg*/
    border-top: 50px solid transparent;
    height: 0;
    width: 0;
    float: left;
}

.box-2 {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: 13px 29px;
    float: left;
    display: block;
}

.box-2 :first-child {
    color: #fff;
    font-family: Lato-Bold;
    font-size: 30px;
    margin: 21px 0 0 73px;
}

.box-2 :last-child {
    color: #fff;
    float: left;
    font-family: Lato;
    font-size: 14px;
    margin: 11px 0 0 83px;
}

.treyg-3 {
    border-top: 50px solid transparent;
    border-right: 47px solid #fff;
    border-bottom: 50px solid transparent;
    height: 0;
    width: 0;
    float: left;
    position: relative;
    left: 17px;
}

.support {
    float: right;
    height: 100px;
    left: -86px;
    position: relative;
    width: 370px;
}

.treyg-4 {
    border-bottom: 50px solid transparent;
    border-right: 47px solid #d9bf8f;
    border-top: 50px solid transparent;
    float: left;
    height: 0;
    left: 18px;
    position: relative;
    width: 0;
    z-index: 3;
}

.box-3 {
    background: #d9bf8f none repeat scroll 0 0;
    height: 100px;
    left: 64px;
    position: relative;
    width: 386px;
    background-image: url(../img/ball.png);
    background-repeat: no-repeat;
    background-position: 24px 23px;
}

.box-3 :first-child {
    color: #fff;
    display: block;
    font-family: Lato-Bold;
    font-size: 30px;
    left: 51px;
    position: relative;
    top: 20px;
    float: left;
}

.box-3 :last-child {
    color: #fff;
    display: block;
    float: left;
    font-family: Lato;
    font-size: 14px;
    position: relative;
    right: 154px;
    top: 67px;
}

.hand-picked {
    width: 100%;
    height: 190px;
}

.hand-picked-inner {
    height: 100%;
    width: 1290px;
    margin: 0 auto;
}

.slog {
    width: 100%;
    height: auto;
    margin-top: 97px;
}

.line {
    border-top: 1px solid #eaeaea;
    float: left;
    height: 0;
    width: 360px;
    margin-top: 19px;
}

.romb {
    background-image: url("../img/romb.png");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-left: 60px;
    margin-top: 8px;
    width: 20px;
}

.hand-picked-inner p {
    float: left;
    font-family: playfair-display-bold-italic;
    font-size: 30px;
    width: 350px;
    text-align: center;
    display: block
}

.line-2 {
    border-top: 1px solid #eaeaea;
    float: right;
    height: 0;
    width: 360px;
    margin-top: 19px;
}

.romb-2 {
    background-image: url("../img/romb.png");
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    margin-top: 8px;
    margin-right: 60px;
    width: 20px;
}

.collection {
    width: 100%;
    height: 815px;
}

.collection-inner {
    height: 100%;
    width: 1290px;
    margin: 0 auto;
}

.wrapper-box-coll {
    display: block;
    float: left;
    height: 100%;
    width: 396px;
}

.box-coll-shop-now {
    width: 400px;
    height: 400px;
    display: block;
    float: left;
}

.box-coll-shop-now img {
    width: 400px;
    height: 400px;
    display: block;
}

.box-coll-shop-now a {
    background: #f09d66 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-family: Lato-Bold;
    font-size: 15px;
    height: 33px;
    left: 138px;
    line-height: 2.5;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -98px;
    width: 107px;
}

.box-coll-discount {
    margin-top: 15px;
    width: 400px;
    height: 400px;
    display: block;
    float: left
}

.box-coll-discount img {
    width: 400px;
    height: 400px;
}

.center-box {
    width: 460px;
    height: 815px;
    float: left;
    display: block;
    margin: 0 20px 0;
}

.center-box img {
    width: 460px;
    height: 819px;
    display: block;
}

.wrapper-box-off {
    display: block;
    float: left;
    height: 100%;
    width: 385px;
}

.box-off {
    width: 400px;
    height: 400px;
    display: block;
    float: left
}

.box-noname {
    margin-top: 15px;
    width: 400px;
    height: 400px;
    display: block;
    float: left;
}

.gallery {
    width: 100%;
    height: 747px;
}

.galery-inner {
    height: 100%;
    width: 1290px;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
}

.photo {
    width: 301px;
    height: 348px;
    float: left;
    margin: 15px 0 0 15px;
    margin: 15px 0 0 15px;
    display: block;
}

.photo img {
    position: absolute;
}

.circle {
    background: #feab12 none repeat scroll 0 0;
    border-radius: 60px;
    height: 60px;
    position: relative;
    width: 60px;
    top: 18px;
    left: 11px;
}

.circle p {
    color: #fff;
    float: left;
    font-family: Lato-Bold;
    font-size: 23px;
    height: 50px;
    line-height: 2.5;
    position: relative;
    text-align: center;
    width: 43px;
}

.circle :last-child {
    font-family: Lato-Bold;
    font-size: 11px;
    height: 11px;
    margin-top: 15px;
    width: 3px;
}

.trapezoid {
    border-bottom: 43px solid #f0975c;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    left: 42px;
    position: relative;
    top: 246px;
    width: 120px;
}

.trapezoid p {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 3.5;
}

.trapezoid-2 {
    border-bottom: 41px solid #000;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    height: 0;
    left: 46px;
    position: relative;
    top: 310px;
    width: 120px;
}

.trapezoid-2 p {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 3.5;
}

.trapezoid-3 {
    border-bottom: 38px solid #000;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    height: 0;
    left: 50px;
    position: relative;
    top: 248px;
    width: 120px;
}

.trapezoid-3 p {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 3.5;
}

.brends {
    width: 100%;
    height: 143px;
}

.brends-inner {
    height: 100%;
    width: 1290px;
    margin: 0 auto;
}

.bakery {
    margin-left: 50px;
    float: left;
}

.lavalier {
    margin-left: 80px;
    float: left;
    margin-top: 14px;
}

.harvest {
    margin-left: 92px;
    float: left;
    margin-top: 10px;
}

.landlock {
    margin-left: 73px;
    float: left;
    margin-top: 10px;
}

.spectum {
    margin-left: 80px;
    float: left;
    margin-top: 24px;
}

.home-energy {
    margin-left: 72px;
    float: left;
    margin-top: 26px;
}

.customers-say {
    width: 100%;
    height: 400px;
    background-color: #d9bf8f;
}

.customers-say-inner {
    background-image: url(../img/bg-cust.png);
    background-repeat: no-repeat;
    width: 1290px;
    height: 100%;
    margin: 0 auto;
    background-position: 459px center;
}

.box-cust {
    width: 50%;
    height: 325px;
    float: left;
}

.box-cust img {
    float: left;
    margin-top: 34px;
}

.saying {
    float: right;
    margin-right: 10px;
    margin-top: 131px;
}

.saying p {
    font-family: playfair-display-italic;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
}

.saying span {
    color: black;
    display: block;
    font-family: playfair-display-bold-italic;
    font-size: 30px;
    margin-left: -2px;
    margin-top: 61px;
}

.saying p:last-child {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #7f7e7e;
    text-transform: uppercase;
    margin-top: 16px;
}

.saying-2 {
    float: left;
    margin-right: 10px;
    margin-top: 131px;
}

.box-cust-2 {
    width: 49%;
    height: 325px;
    float: right;
}

.box-cust-2 img {
    margin: 25px 0 0 6px;
}

.saying-2 p {
    font-family: playfair-display-italic;
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    text-align: right;
}

.saying-2 span {
    color: black;
    display: block;
    font-family: playfair-display-bold-italic;
    font-size: 30px;
    margin-left: 78px;
    margin-top: 57px;
}

.saying-2 p:last-child {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #7f7e7e;
    text-transform: uppercase;
    margin-top: 16px;
}

.top-footer {
    width: 100%;
    height: 447px;
    background-color: #141414;
    overflow: hidden;
}

.top-footer-inner {
    width: 1290px;
    height: 100%;
    margin: 0 auto;
}

.shops {
    float: left;
    height: 100%;
    margin: 67px 0 0 6px;
    width: 150px;
}

.shops span {
    color: #fff;
    display: block;
    font-family: Lato-Bold;
    font-size: 15px;
    margin-bottom: 54px;
    text-transform: uppercase;
}

.shops a {
    color: #737373;
    display: block;
    float: left;
    font-family: Lato;
    font-size: 14px;
    line-height: 3;
    margin-left: -1px;
    margin-top: -14px;
    text-decoration: none;
    width: 100%;
}

.shops-2 {
    float: left;
    height: 100%;
    margin: 61px 0 0 93px;
    width: 150px;
}

.shops-2 span {
    color: #fff;
    display: block;
    font-family: Lato-Bold;
    font-size: 15px;
    margin-bottom: 54px;
    text-transform: uppercase;
}

.shops-2 a {
    color: #737373;
    display: block;
    float: left;
    font-family: Lato;
    font-size: 14px;
    line-height: 3;
    margin-left: -1px;
    margin-top: -13px;
    text-decoration: none;
    width: 100%;
}

.stay {
    width: 370px;
    height: 275px;
    margin: 64px 0 0 122px;
    float: left;
}

.stay-connected {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}

.connect-img {
    height: 50px;
    margin: 50px 0 0 28px;
    width: 330px;
}

.connect-img img {
    float: left;
    margin-right: 16px;
}

.connect-img span {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    display: block;
}

.subscribe {
    margin-top: 47px;
    margin-left: 26px;
}

.subscribe span {
    font-family: playfair-display-italic;
    font-size: 16px;
    color: #fff;
    text-transform: lowercase;
    margin: 0 8px;
}

.subscribe p {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    display: block;
}

.search {
    border: 1px solid #484848;
    float: left;
    height: 40px;
    margin-left: 26px;
    margin-top: 58px;
    width: 360px;
}

.search form {
    display: block;
    width: 100%;
    height: 100%;
}

input[type="search"] {
    border: medium none;
    height: 81%;
    outline: medium none;
    vertical-align: middle;
    width: 70%;
    background-color: #141414;
}

input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("../img/submit.jpg") no-repeat scroll 50% 50%;
    border: medium none;
    height: 33px;
    margin-left: -2px;
    margin-top: 4px;
    width: 101px;
}

input[type="search"]::-moz-placeholder {
    color: #6a6a6a;
    display: block;
    font-family: Lato;
    font-size: 12px;
    margin-right: 25px;
}

.pre-footer {
    width: 100%;
    height: 205px;
    background-color: #141414;
}

.pre-footer-inner {
    width: 1290px;
    height: 100%;
    margin: 0 auto;
    border-top: 1px solid #363636;
}

.last-words {
    color: #363636;
    font-family: Lato;
    font-size: 11px;
    line-height: 1.5;
    margin: 28px 0 0;
}

.cards img {
    float: left;
    margin-right: 24px;
}

.cards {
    height: 20px;
    margin: 32px 0 0 2px;
    width: 190px;
}

.button {
    float: right;
    float: right;
    left: -5px;
    position: relative;
    top: -90px;
    background-image: url(../img/button.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

footer {
    width: 100%;
    height: 40px;
    background-color: black;
}

.flex-viewport {
    height: 621px;
    overflow: hidden;
    position: relative;
}

.flex-active {
    background-image: url(../img/flex-active.png) !important;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
}

.flex-control-nav li a {
    display: block;
    text-indent: -9999px;
    background-image: url(../img/flex.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    float: left;
    margin-right: 7px;
}

.flex-control-nav {
    margin: -40px 0 0 650px;
    position: absolute;
}

.flex-control-nav li {
    float: left;
}

.flex-direction-nav {
    display: none;
}